/*****FONTS*****/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
header,
section {
  margin: 0 32px;
}
main {
  overflow-x: hidden;
}
/*****FONTS*****/
/*****HEADER*****/

header > nav > div > ul {
  list-style-type: none;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#logo {
  block-size: 48px;
  margin-left: 32px;
}
/*****HEADER*****/
/*****NAV*****/
header > nav > ul > li > a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header nav a {
  padding: 30px;
  border: 3px solid transparent;
}
header nav a:hover {
  border-top-color: #0065fc;
  color: #0065fc;
}
header nav ul {
  display: flex;
  list-style-type: none;
}

/*****NAV*****/
/********titre*********/
main {
  width: 100%;
  margin: 0 auto;
}
/********titre*********/
h1 {
  margin-top: 40px;
  width: 500px;
  font-size: larger;
}
main > div > div > p {
  position: absolute;
  bottom: 550px;
}

/*****SEARCHSTYLE*****/

main > section > div > div > form > input {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 45px;
}

main div div form input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 17px;
  padding: 19px;
  text-align: left;
}

main div div form button {
  border-radius: 0 16px 16px 0;
  background-color: #0065fc;
  font-weight: bold;
  color: white;
  padding: 9px;
  border-color: transparent;
  position: absolute;
  right: 800px;
}

.search-Style {
  align-content: center;
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.i-locat {
  padding: 12px 15px;
  margin-top: 15px;
  background-color: rgb(235, 229, 229);
  border-radius: 16px 0 0 16px;
  position: absolute;
}
form {
  width: 100%;
}
.styleInput {
  position: relative;
  bottom: -14px;
  right: -42px;
  border: 1px solid #d9d9d9;
  height: 40px;
  width: 45%;
  max-width: 245px;
}

.styleButton {
  height: 40px;
  position: relative;
  right: -38px;
  top: 15px;
  background-color: #0065fc;
  cursor: pointer;
}
.fa-magnifying-glass {
  visibility: hidden;
}

/*--------------SEARCH FILTER--------------*/
.filter-h2 {
  margin: 74px 0 -40px 16px;
}
main > section > div > div > div > i {
  border-radius: 16px 16px 16px 16px;
  color: #0065fc;
}

main > section > div.filtre-flex > h2 {
  margin-right: -33px;
  font-size: large;
}

i.fa-solid.fa-info.i {
  margin-right: 15px;
}

.filtre-flex {
  display: flex;
  align-items: baseline;
  align-content: center;
  margin-left: 54px;
}

.filters {
  display: flex;
  border: 2px solid #d9d9d9;
  align-items: center;
  border-radius: 32px;
  padding-right: 16px;
  margin-left: 48px;
  margin-right: -24px;
  text-decoration: none;
  color: inherit;
}
.filters:hover {
  box-shadow: 0 0 16px #0065fc;
}
.fa-solid.fa-heart,
.fa-solid.fa-dog,
.fa-solid.fa-child-reaching,
.fa-solid.fa-money-bill-wave {
  color: #0065fc;
}
.icon-style {
  background-color: #deebff;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  min-height: 40px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.info-flex {
  display: flex;
  align-items: baseline;
  width: 38%;
  margin: 16px 32px;
}

.i {
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  color: rgb(10, 90, 240);
  justify-content: center;
  width: 22px;
  height: 22px;
  padding-top: 2px;
}

span {
  width: max-content;
  font-size: large;
  padding-left: 16px;
}
/*--------------SEARCH FILTER--------------*/

/*--------------CARD--------------*/
/*--------------HOST--------------*/
.hebergement {
  display: flex;
  gap: 32px;
}

section.hebergement .city-host > h2 {
  margin: 44px 0 10px 37px;
  font-weight: bold;
}

.host-img {
  width: 98%;
  height: 119px;
  border-radius: 15px 15px 0 0;
  padding: 6px 0 0 6px;
  object-fit: cover;
}

.city-host {
  flex-basis: 66%;
  padding-left: 10px;
  background-color: #f2f2f2;
  border-radius: 16px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  margin-right: 0;
}
.Card-host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.Card-host > a {
  text-decoration: none;
  color: inherit;
}

.Card-host-position {
  width: 30%;
  height: 42%;
  margin: 16px 6px;
  background-color: white;
  border-radius: 16px;
}
.Card-host-position a {
  text-decoration: none;
  color: inherit;
}

.host-star {
  height: 43px;
  display: flex;
  padding: 0 0 8px 16px;
  margin-top: 8px;
}

.Card-host-position:hover {
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
}

.font-card {
  font-style: normal;
  font-size: smaller;
  font-weight: bolder;
  margin-top: -1px;
  margin-left: 10px;
}

.font-card-2 {
  font-size: smaller;
  margin-top: -10px;
  margin-left: 10px;
}

.Card-host-position h3 {
  margin: 1px 0 0 16px;
  font-size: 17px;
}

.Card-host-position p {
  margin: 6px 0 6px 16px;
  font-size: 14px;
}
.card-more {
  margin: 0 0 30px 33px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.rating-style {
  color: #0065fc;
  margin: 4px 0;
}

.rating-style-2 {
  color: #726e6e;
  margin: 4px 0;
}

/*--------------POPULAR--------------*/
.title-popular {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.popular {
  width: 100%;
  flex-basis: 33%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  background-color: #f2f2f2;
  border-radius: 16px;
}

.star-popular-position {
  height: 64px;
  display: flex;
  align-items: flex-end;
}

.star-popular-position-2 {
  height: 43px;
  display: flex;
  align-items: flex-end;
}

.star-adjustement {
  margin-top: -20px;
}

.star-popular {
  width: 10px;
  margin-right: 10px;
}

.img-popular {
  width: 132px;
  height: 139px;
  border-radius: 15px 0 0 15px;
  padding: 5px;
  float: left;
  object-fit: cover;
}

div.card-popular:hover {
  box-shadow: 0 0 16px #0000002e;
}
.card-popular {
  width: 100%;
  background-color: white;
  border-radius: 15px;
}
.card-popular > a:hover {
  box-shadow: 0 0 16px #0000002e;
}
.card-popular h3 {
  margin: 15px 0 8px 0;
  font-size: 17px;
}

.card-popular p {
  margin: 4px 0 8px 0;
}

.card-popular i {
  margin-top: 15px;
}
.popular-disposition a {
  text-decoration: none;
  color: inherit;
}
.popular-disposition {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

section.hebergement > div.popular > h2 {
  margin: 26px 185px 0 -17px;
}

.card-popular .fa-star {
  width: 12px;
}

/*ACTIVITY*/
.big-card-activity a,
.little-card-activity a,
.little-card-activity-1 a,
.little-card-activity-2 a {
  text-decoration: none;
  color: inherit;
}
.big-card:hover,
.little-card-activity:hover,
.little-card-activity-1:hover,
.little-card-activity-2:hover {
  box-shadow: 0 0 16px #0065fc;
}
.Activity-title {
  margin: 70px 0 -30px 23px;
  padding-left: 12px;
}
.activity-h3 {
  padding-left: 16px;
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-activity-placement {
  width: 100%;
  margin: 48px 0 0 8px;
  display: flex;
  gap: 24px;
  padding: 0 8px;
}
.duo-card {
  width: 25%;
  margin-right: 8px;
}
.big-card {
  width: 25%;
  height: 455px;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 16px;
  border-radius: 16px;
}
.big-card-activity {
  width: 100%;
  height: 445px;
  cursor: pointer;
  border-radius: 16px;
}
.big-card-activity img {
  width: 100%;
  height: 91%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.little-card-activity-1 {
  height: 261px;
  border-radius: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  box-shadow: 0 0 16px #0000002e;
}
.little-card-activity {
  height: 220px;
  border-radius: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  box-shadow: 0 0 16px #0000002e;
}
.little-card-activity-2 {
  height: 180px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 0 16px #0000002e;
}
.little-card-activity img {
  width: 100%;
  height: 171px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.little-card-activity-1 img {
  width: 100%;
  height: 212px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.little-card-activity-2 img {
  width: 100%;
  height: 73%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.card-activity-placement > a {
  text-decoration: none;
  color: inherit;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
footer section {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
}

.footer-placement > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.footer-placement {
  width: 30%;
  margin: 0 26px;
}

footer h3 {
  font-weight: bolder;
}
.footer-position {
  width: 100%;
  display: flex;
}
