/*TABLETTE*/
@media screen and (max-width: 992px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }

  /*HEADER*/
  header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #logo {
    justify-content: center;
    flex-direction: column;
    margin: 0 50%;
    flex-wrap: wrap;
  }
  .sub-nav {
    width: 100%;
    justify-content: center;
    margin: auto;
  }
  a.host {
    border-top-color: transparent;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
  header nav a {
    border-top: 3px solid white;
  }

  /*RECHERCHE*/
  .search-Style span {
    visibility: hidden;
  }
  main > section > div > form > input {
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 45px;
  }
  .styleInput {
    width: 400px;
  }
  .styleButton {
    width: 45px;
    position: relative;
    right: -443px;
    top: -75px;
  }
  .fa-magnifying-glass {
    visibility: visible;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 11px;
  }
  form {
    width: 100%;
  }
  /*FILTRES*/
  .filtre-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    gap: 10px;
  }
  .info-flex {
    flex-wrap: nowrap;
    width: 90%;
  }
  /*HEBERGEMENTS*/
  #Host {
    flex-direction: column-reverse;
    justify-content: center;
  }
  section.hebergement .Card-host > h3 {
    padding: 0px 0 32px 25px;
  }
  div.city-host {
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
  }
  .Card-host {
    margin: auto;
    gap: 48px;
    justify-content: center;
  }
  div.Card-host-position {
    margin: 16px 30px 30px 0;
  }
  a.card-more {
    justify-content: center;
  }
  /*ACTIVITES*/
  .Activity-title {
    display: flex;
    justify-content: center;
  }
  .card-activity-placement div {
    flex-wrap: nowrap;
  }
  .card-activity-placement {
    margin: 70px 96px;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
  }
  /*POPULAR*/
  section.hebergement > div.popular > h3 {
    margin: 27px 62px 12px -27px;
  }
  .popular-disposition {
    width: 80%;
    justify-content: center;
  }
  .card-popular {
    width: 80%;
    margin-left: 70px;
  }
  .popular {
    width: 100%;
    justify-content: center;
  }
  /*FOOTER*/
  footer > section {
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main > div {
    padding: 0 24px;
  }
  main > div > h1 {
    width: 100%;
  }

  /*HEADER*/
  header {
    width: 100%;
    flex-wrap: wrap;
  }
  #logo {
    justify-content: center;
    flex-direction: column;
    margin: 0 15% 0 30%;
    flex-wrap: wrap;
  }
  .sub-nav {
    width: 100%;
    justify-content: center;
    padding: 0;
    display: flex;
  }
  .sub-nav > a {
    padding: 0 10px;
  }
  a.host {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
  header nav a {
    border-top: 3px solid white;
    flex-basis: 50%;
    border-bottom: 3px solid #d9d9d9;
  }
  header > nav ul li a {
    flex-basis: 100%;
    text-align: center;
    padding: 20px 53px;
    overflow-x: hidden;
  }

  /*RECHERCHE*/
  form {
    width: 100%;
    margin-left: 10px;
  }
  .search-Style span {
    visibility: hidden;
  }
  .styleButton {
    width: 45px;
    position: relative;
    top: -75px;
    right: -282px;
    overflow-x: hidden;
    border-radius: 10px;
  }
  .fa-magnifying-glass {
    visibility: visible;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 11px;
  }
  .styleInput {
    width: 245px;
  }
  /*FILTRES*/
  .filters {
    margin: 0 10px 0 0;
    padding-right: 4px;
  }
  .filters > span {
    padding-left: 8px;
  }
  .filtre-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5px;
    width: 100%;
    gap: 10px;
    padding: 0 0 0 22px;
  }
  .filter-h2 {
    margin: 0 0 32px 16px;
  }
  .info-flex {
    flex-wrap: nowrap;
    width: 90%;
    margin: 16px 0;
  }
  i.fa-solid.fa-info.i {
    width: 32px;
    margin-left: 6px;
  }

  /*POPULAIRES*/
  section.hebergement > div.popular > h3 {
    margin: 9px 135px 10px -10px;
  }
  .card-popular {
    width: 100%;
    margin: 0;
  }
  .popular-disposition {
    width: 100%;
  }
  .popular {
    width: 100%;
    justify-content: center;
    border-radius: 0;
  }

  .star-popular-position-m3 {
    height: 64px;
    display: flex;
    align-items: flex-end;
  }

  /*HEBERGEMENTS*/
  #Host {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  section.hebergement .city-host > h3 {
    padding: 0px 0 0 25px;
    font-weight: bold;
    font-size: larger;
    margin: 29px 0px 0px -18px;
  }
  section.hebergement .Card-host > h3 {
    padding: 0 0 0 16px;
    margin: 25px 0 0 20px;
  }
  div.city-host {
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    padding: 0 22px;
    background-color: inherit;
  }
  .Card-host {
    margin: 0;
    gap: 0;
  }
  div.Card-host-position {
    width: 100%;
    height: 230px;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    margin: 16px 0px 30px 0;
  }
  .host-img {
    width: 100%;
    object-fit: cover;
    height: 148px;
    padding: 7px;
    border-radius: 16px 16px 0 0;
  }
  a.card-more {
    justify-content: center;
    margin-left: 11px;
  }

  /*ACTIVITES*/
  #Activity {
    padding: 0 22px;
  }
  .Activity-title {
    display: block;
  }
  .activity {
    width: 100%;
  }
  .card-activity-placement div {
    flex-wrap: nowrap;
    margin-left: 0;
    width: 100%;
  }
  .card-activity-placement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
  }
  .big-card-activity {
    width: 302px;
    height: 236px;
  }
  .big-card-activity img {
    width: 100%;
    height: 181px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
  }
  .little-card-activity img {
    width: 100%;
  }

  /*FOOTER*/
  footer > section {
    flex-direction: column;
  }
  .footer-position {
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
  }
  .footer-placement {
    width: 30%;
    margin: 0 16px;
  }
}
