/*TABLETTE*/
@media screen and (max-width: 992px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main > section > div > h1,
  main > section > div > p {
    margin-left: 5px;
  }
  body {
    margin: 0;
  }
  header,
  section {
    margin: 0;
  }
  /* HEADER */
  header {
    flex-wrap: wrap;
  }
  .sub-nav {
    display: flex;
    margin: 16px auto;
  }

  /* FILTRES */
  .filters {
    margin: 0 -24px 10px 48px;
  }
  .filtre-flex {
    flex-wrap: wrap;
  }
  /* RECHERCHE */
  form {
    margin-left: 16px;
  }
  .i-locat {
    padding: 12px 15px;
    margin-top: 15px;
    background-color: rgb(235, 229, 229);
    border-radius: 16px 0 0 16px;
    position: absolute;
    left: 16px;
    height: 40px;
  }
  .styleInput {
    height: 40px;
    max-width: none;
    right: -42px;
    top: 15px;
  }
  .styleButton {
    width: 45px;
    position: relative;
    top: 14px;
    right: -35px;
    overflow-x: hidden;
    border-radius: 10px;
  }
  .search-Style span {
    visibility: hidden;
    font-size: inherit;
  }
  .fa-magnifying-glass {
    visibility: visible;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 11px;
  }
  /* HEBERGEMENTS */
  .hebergement {
    display: flex;
    flex-direction: column-reverse;
  }
  /* POPULAR */
  .img-popular {
    width: 30%;
  }
  section.hebergement > div.popular > h2 {
    margin: 26px 185px 22px -17px;
  }
  .star-popular-position-2 {
    margin-top: 30px;
  }
}

/*MOBILE*/
@media screen and (max-width: 769px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main > section > div > h1,
  main > section > div > p {
    width: 100%;
  }
  header,
  section {
    margin: 0;
  }

  /*HEADER*/
  header {
    flex-wrap: wrap;
  }
  header > a {
    margin: 0 auto;
  }
  header nav {
    width: 100%;
  }
  #logo {
    justify-content: center;
    flex-direction: column;
    margin: 0 15% 0 30%;
    flex-wrap: wrap;
  }
  header nav a {
    width: 100%;
    border-top: none;
    border-bottom: 3px solid #d9d9d9;
  }
  header > nav ul li a {
    text-align: center;
    padding: 20px 30px;
    overflow-x: hidden;
  }
  main > section > div > h3 > p {
    margin: 0 10%;
  }

  /*RECHERCHE*/
  form {
    width: 100%;
    margin-left: 10px;
  }
  .i-locat {
    left: 40px;
  }
  .styleInput {
    height: 40px;
    left: 72px;
    top: 15px;
  }
  /*FILTRES*/
  .filters {
    margin: 0 10px 0 0;
    padding-right: 4px;
  }
  .filters > span {
    padding-left: 8px;
  }
  .filtre-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5px;
    width: 90%;
    gap: 10px;
    padding: 0 0 0 22px;
  }
  .filter-h2 {
    margin: 60px 0 32px 16px;
  }
  .info-flex {
    flex-wrap: nowrap;
    width: 90%;
    margin: 16px 0;
  }
  i.fa-solid.fa-info.i {
    margin-left: 6px;
  }

  /*POPULAIRES*/
  section.hebergement > div.popular > h2 {
    margin: 26px 185px 22px -17px;
  }
  section.hebergement > div.popular > h3 {
    margin: 9px 135px 10px -10px;
  }
  .card-popular {
    width: 100%;
    margin: 0;
  }
  .popular-disposition {
    width: 100%;
  }
  .popular {
    width: 100%;
    justify-content: center;
    border-radius: 0;
  }

  .star-popular-position-m3 {
    height: 64px;
    display: flex;
    align-items: flex-end;
  }

  /*HEBERGEMENTS*/
  #Host {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  section.hebergement .city-host > h3 {
    padding: 0 0 0 25px;
    font-weight: bold;
    font-size: larger;
    margin: 29px 0 0 -18px;
  }
  section.hebergement .Card-host > h3 {
    padding: 0 0 0 16px;
    margin: 25px 0 0 20px;
  }
  div.city-host {
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    padding: 0 22px;
    background-color: inherit;
  }
  .Card-host {
    width: 100%;
  }
  div.Card-host-position {
    width: 100%;
    height: 230px;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    margin: 16px 0 30px 0;
  }
  .host-img {
    width: 100%;
    object-fit: cover;
    height: 148px;
    padding: 7px;
    border-radius: 16px 16px 0 0;
  }
  a.card-more {
    justify-content: center;
    margin-left: 11px;
  }

  /*ACTIVITES*/
  #Activity {
    display: flex;
    margin: 0 16px;
  }
  .Activity-title {
    display: block;
    justify-content: center;
  }
  .activity {
    width: 100%;
  }
  .little-card-activity h3,
  .little-card-activity-1 h3,
  .little-card-activity-2 h3 {
    padding: 16px;
  }
  .card-activity-placement div {
    flex-wrap: nowrap;
    margin-left: 0;
    width: 100%;
    height: inherit;
  }
  .card-activity-placement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    padding: 0;
    height: inherit;
  }
  .big-card-activity {
    width: 302px;
    height: 240px;
  }
  .big-card-activity img {
    width: 100%;
    height: 181px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    height: 183px;
  }
  .little-card-activity img {
    width: 100%;
    height: 183px;
  }
  .little-card-activity-1 img {
    width: 100%;
    height: 183px;
  }
  .little-card-activity-2 img {
    height: 183px;
  }

  /*FOOTER*/
  footer > section {
    flex-direction: column;
  }
  .footer-position {
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    margin: 0;
  }
  .footer-placement {
    width: 100%;
    margin: 0 16px;
  }
}
