/*TABLETTE*/
@media screen and (max-width: 992px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main > section > div > h1,
  main > section > div > p {
    margin-left: 45px;
  }

  /*HEADER*/
  header {
    width: 10%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #logo {
    justify-content: center;
    flex-direction: column;
    margin: 0 50%;
    flex-wrap: wrap;
  }
  .sub-nav {
    width: 100%;
    justify-content: center;
    margin: auto;
  }
  a.host {
    border-top: none;
  }
  header nav a {
    border-bottom: 3px solid #d9d9d9;
    border-top: none;
  }
  header nav a:hover {
    border-bottom: 3px solid #0065fc;
  }

  /*RECHERCHE*/
  .search-Style span {
    visibility: hidden;
    font-size: inherit;
  }
  main > section > div > form > input {
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 45px;
  }
  .styleInput {
    width: 50%;
  }
  .styleButton {
    width: 45px;
    position: relative;
    right: -38px;
    top: 14px;
  }
  .fa-magnifying-glass {
    visibility: visible;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 11px;
  }

  form {
    width: 100%;
    margin-left: 45px;
  }
  /*FILTRES*/
  .filtre-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    gap: 10px;
    margin-left: 85px;
  }
  .filter-h2 {
    margin-left: 45px;
  }
  .info-flex {
    flex-wrap: nowrap;
    width: 90%;
    margin-left: 45px;
  }
  /*HEBERGEMENTS*/
  #Host {
    flex-direction: column-reverse;
    justify-content: center;
  }
  section.hebergement .Card-host > h3 {
    padding: 0 0 32px 25px;
  }
  div.city-host {
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
  }
  .Card-host {
    margin: auto;
    justify-content: center;
  }
  div.Card-host-position {
    margin: 16px 30px 30px 0;
  }
  a.card-more {
    justify-content: center;
    margin: 0 0 30px -20px;
  }
  /*ACTIVITES*/
  .Activity-title {
    display: flex;
    justify-content: center;
  }
  .card-activity-placement div {
    flex-wrap: nowrap;
  }
  .card-activity-placement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .big-card,
  .little-card-activity-2,
  .little-card-activity {
    width: 100%;
    margin: 16px 0;
  }
  .big-card-activity {
    width: 100%;
    height: 216px;
    cursor: pointer;
    border-radius: 16px;
  }
  .big-card-activity img {
    width: 100%;
    height: 75%;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
  }
  /*POPULAR*/
  section.hebergement > div.popular > h3 {
    margin: 27px 62px 12px -27px;
  }
  .popular-disposition {
    width: 80%;
    justify-content: center;
  }
  .card-popular {
    width: 80%;
    margin-left: 70px;
  }
  .popular {
    width: 100%;
    justify-content: center;
  }
  .star-popular-position-2 {
    height: 67px;
  }
  /*FOOTER*/
  footer > section {
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }
  .footer-position {
    width: 100%;
    display: flex;
  }
}

/*MOBILE*/
@media screen and (max-width: 769px) {
  html {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main > section > div > h1,
  main > section > div > p {
    margin-left: 0;
    width: 100%;
  }

  /*HEADER*/
  header {
    width: 10%;
    flex-wrap: wrap;
  }
  #logo {
    justify-content: center;
    flex-direction: column;
    margin: 0 15% 0 30%;
    flex-wrap: wrap;
  }
  .sub-nav {
    flex-basis: 100%;
    justify-content: center;
    padding: 0;
    display: flex;
  }
  .sub-nav a {
    flex-basis: 50%;

  }
  header nav a {
    border-top: none;
    border-bottom: 3px solid #d9d9d9;
  }
  header > nav ul li a {
    flex-basis: 100%;
    text-align: center;
    padding: 20px 40px;
    overflow-x: hidden;
  }

  /*RECHERCHE*/
  form {
    width: 100%;
    margin-left: 10px;
  }
  .search-Style span {
    visibility: hidden;
    font-size: inherit;
  }
  .styleButton {
    width: 45px;
    position: relative;
    top: 13px;
    right: 0;
    overflow-x: hidden;
    border-radius: 10px;
  }
  .fa-magnifying-glass {
    visibility: visible;
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 11px;
  }
  .styleInput {
    width: 50%;
    height: 40px;
  }
  /*FILTRES*/
  .filters {
    margin: 0 10px 0 0;
    padding-right: 4px;
  }
  .filters > span {
    padding-left: 8px;
  }
  .filtre-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5px;
    width: 90%;
    gap: 10px;
    padding: 0 0 0 22px;
  }
  .filter-h2 {
    margin: 60px 0 32px 16px;
  }
  .info-flex {
    flex-wrap: nowrap;
    width: 90%;
    margin: 16px 0;
  }
  i.fa-solid.fa-info.i {
    margin-left: 6px;
  }

  /*POPULAIRES*/
  section.hebergement > div.popular > h3 {
    margin: 9px 135px 10px -10px;
  }
  .card-popular {
    width: 100%;
    margin: 0;
  }
  .popular-disposition {
    width: 100%;
  }
  .popular {
    width: 100%;
    justify-content: center;
    border-radius: 0;
  }

  .star-popular-position-m3 {
    height: 64px;
    display: flex;
    align-items: flex-end;
  }

  /*HEBERGEMENTS*/
  #Host {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  section.hebergement .city-host > h3 {
    padding: 0 0 0 25px;
    font-weight: bold;
    font-size: larger;
    margin: 29px 0 0 -18px;
  }
  section.hebergement .Card-host > h3 {
    padding: 0 0 0 16px;
    margin: 25px 0 0 20px;
  }
  div.city-host {
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    padding: 0 22px;
    background-color: inherit;
  }
  .Card-host {
    width: 100%;
  }
  div.Card-host-position {
    width: 100%;
    height: 230px;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    margin: 16px 0 30px 0;
  }
  .host-img {
    width: 100%;
    object-fit: cover;
    height: 148px;
    padding: 7px;
    border-radius: 16px 16px 0 0;
  }
  a.card-more {
    justify-content: center;
    margin-left: 11px;
  }

  /*ACTIVITES*/
  #Activity {
display: flex  }
  .Activity-title {
    display: block;
    justify-content: center;
  }
  .activity {
    width: 100%;
  }
  .card-activity-placement div {
    flex-wrap: nowrap;
    margin-left: 0;
    width: 100%;
  }
  .card-activity-placement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    padding: 0;
  }
  .big-card-activity {
    width: 302px;
    height: 236px;
  }
  .big-card-activity img {
    width: 100%;
    height: 181px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
  }
  .little-card-activity img {
    width: 100%;
  }

  /*FOOTER*/
  footer > section {
    flex-direction: column;
  }
  .footer-position {
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    margin: 0;
  }
  .footer-placement {
    width: 100%;
    margin: 0 16px;
  }
}